@charset "UTF-8";

// setting
@use "setting/vars";
@use "setting/common";
@use "./login/login";
@use "./login/signup";
@use "./home/home";
@use "./mainface/mainface";
@use "./mainface/faceresult";
@use "./profile/profilesetting";
@use "./profile/profileview";
@use "./chat/chat";
html {
  zoom: 0.85;
}
